body{
    background-color: #1D1C18;
    color: #FFFFFF;
    text-align: center;
}
h1{
    font-size: 40px;
    color: #9D8DF1;
    text-align: center;
}
p{
    font-size: 20px;
    color: #A09F98;
    text-align: center;
}
img{
    display: flex;
    justify-content: center;
}
head{
    background-color: #FFE11E;
    color:#FFFFFF
}
footer{
    font-size: 28px;
    display: flex;
    background-color: #FFE11E;
    color:#1D1C18;
    justify-content: space-around;
}
a{
    font-size: 28px;
    display: flex;
    background-color: #FFE11E;
    color:#1D1C18;
    justify-content: space-around;  
}